.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100vh;
    width: 100%;
    padding: 10px;
}


.login-card {
    max-width: 850px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
  .login-card-image{
   background: #99FAF5;
   border-radius: 15px;
   box-shadow: 0px 1px 13px 0px #7B7B7B40;
   padding: 30px;
   text-align: left;
   display: flex;
   flex-direction: column;

  }
  .login-card-image h2{
    font-size: 25px;
    font-weight: 800;
    color: #450E56;
    margin-bottom: 25px;
  }
  /* Image Styling */
  .login-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   width: 360px;
   height: 370px;
   min-width: 300px;
  }
  
  /* Right side content (Form) */
  .login-card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
  }
  
  .login-card-content h2 {
    font-size: 24px;
    text-align: center;
    color: #012B28;
    font-weight: 800;
    padding-bottom: 20px;
  }
  .login-form .field-container{
    max-width: 320px;
    min-width: 300px;
  }
  .login-form .field-container label{
    color: #000000;
    font-weight: 700;
    font-size: 12px;
  }
  .login-card-content input {
    width: 100%;
    max-width: 320px;
    min-width: 300px;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-size: 14px;
  }
  .login-card-content input::placeholder{
    color: #000000;
    font-size: 12px;
    font-weight: 600;
  }
  .forget-link{
    float:right;
    margin-bottom: 20px;
    color: #DB0707 !important;
    font-size: 12px;
    font-weight: 700;
  }
  .login-btn{
    max-width: 280px;
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    background: #B51144;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .field-link-container{
    width: 100%;
    justify-content: end;
  }
  .sign-link a{
    color: #DB0707 !important;
    font-size: 12px;
    font-weight: 700;
  }
  .sign-link{
    color: #484848;
    font-size: 12px;
    font-weight: 600;
    display: ruby;
  }
  .field-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-card-content button:hover {
    background-color: #a70707 ;
  }
  .forget-subtxt{
    color: #797777;
    padding:0px 10px;
    margin: 0px !important;
    padding-bottom: 10px;
  }
  .login-card-content p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .login-card-content a {
    color: #009fe3;
    text-decoration: none;
  }
  
  /* Responsive layout for tablets and smaller screens */
  @media (max-width: 768px) {
    .login-card {
      grid-template-columns: 1fr;
    }
    .login-card-image{
        background: #99FAF5;
        border-radius: 15px;
        box-shadow: 0px 1px 13px 0px #7B7B7B40;
        padding: 30px;
        text-align: left;
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
       }
    .login-card-content {
      padding: 20px;
    }
  }

  .otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .otp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .otp-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
   
  }
  
  .otp-inputs input {
    width: 50px !important;
    max-width: 50px !important;
    min-width: 50px !important;
    height: 50px !important;
    text-align: center;
    font-size: 24px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    background: #E6E3E3;
  }
  
  .otp-inputs input:focus {
    outline: none;
    border-color: #fff;
    background: #B51144;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 159, 227, 0.5);
  }
  .error-message {
    color: red;
    font-size: 10px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
  }
  
  .password-field-wrapper {
    position: relative;
  }
  
  .password-field-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 65%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  .password-toggle-icon:hover {
    color: #555;
  }
  /* If the input is empty, change the background color to red */
.otp-inputs input.not-empty {
  background: #B51144;
    color: #fff;
}