/* Document wide styles */
html {
  box-sizing: border-box;
  font-size: 100%; /* Default font size */
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in mobile browsers */
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set up a base for body */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #fff;
  background-image: url(../src/assets/images/body_bg.png);
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default text-decoration from links */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images behave */
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-style: none;
}

/* Reset form elements */
button, input, textarea, select {
  font: inherit; /* Inherit font from body */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  appearance: none;
}

button {
  cursor: pointer; /* Make button look clickable */
}

textarea {
  resize: vertical;
}

/* Reset heading margins and make sure all are inheriting font */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Normalize tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  text-align: left;
}

/* Remove the border on all fieldsets */
fieldset {
  border: none;
}

/* Ensure consistent handling of `<pre>` */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Remove the outline only on keyboards and other keyboard accessibility */
:focus {
  outline: none;
}

/* Reset strong and bold elements to be bolder */
strong {
  font-weight: bold;
}

/* Reset the HTML5 hidden attribute */
[hidden] {
  display: none;
}
/* Inside App.css or a specific CSS file */
footer {
  font-family: 'Poppins', sans-serif;
}

/* Define global CSS variables */
:root {
  --primary-color: #B51144;  /* Primary color */
  --secondary-color:#4D2161;
  --black : #000000;
  --white:#ffff;
  --small-font-color: #636363;
  --category-head-font-color:#575757;
  --small-font-size: 10px;  
  --card-head-font-size: 20px;
  --footer-bg: #FFFBF1;
  --border-color: #EAEAEA;
  --border-size: 1.33px;
  --box-shadow:  0px 2.66px 2.52px 0px #B6B6B640;
  --card-border-color: #D4D4D4;
  --yellow:#FFAC33;
  --icon-red: #FF0E1A;

          /* Default font size */
}
